html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: #C4C4C4;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}